<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="/assets/grocery-shop-logo-300x275.png" alt="Grocery Shop" width="150">
    <h1 class="h3 mb-3 font-weight-normal login">Login do Cliente</h1>

    <!--Username-->
    <label for="inputUsername" class="sr-only">Usuario</label>
    <input type="text" id="inputUsername" name="username"
           class="form-control mb-1"
           [ngClass]="{
            'is-invalid':username.invalid && (username.dirty || username.touched),
            'is-valid':username.valid && (username.dirty || username.touched)
           }"
           placeholder="Informe o seu usuario"
           [(ngModel)]="usuario.username"
           #username="ngModel"
           username required />

    <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required">
        Usuario é de preenchimento obrigatório
      </div>
      
    </div>

    <!--Senha-->
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" name="password"
           class="form-control"
           [ngClass]="{
            'is-invalid':password.invalid && (password.dirty || password.touched),
            'is-valid':password.valid && (password.dirty || password.touched)
           }"
           placeholder="Digite sua senha"
           [(ngModel)]="usuario.password"
           #password="ngModel"
           required />

    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Senha é de preenchimento obrigatório
      </div>
    </div>

    <div class="checkbox mb-2">
      <label>
        <input type="checkbox" value="lembrarMe" name="lembrarMe">Lembrar-me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block mb-2" type="submit" (click)="entrar()" [disabled]="ativar_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
      Entrar
    </button>

    <!--Mensagem validação-->
    <div class="alert alert-danger mb-2" *ngIf="mensagem">
      {{mensagem}}
    </div>
    <div class="mb-2">
      Novo por aqui? <a [routerLink]='["/novo-usuario"]'>Cadastre-se</a>
    </div>
  </form>
</div>
